{% extends 'base.html' %}
{% block page_heading %}Title: {{ topic.title }}{% endblock %}

{% block content %}
<p>Parent: {{ topic.parent }}</p>
{% endblock %}

{% block page_title %}Topic{% endblock %}
{% block custom_sidebar_title %}Topic{% endblock %}
{% block sidebar_menu %}
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "notes:topic-update" topic.pk %}">Update</a></li>
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "notes:topic-delete" topic.pk %}">Delete</a></li>
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "notes:topic-list" %}">Back to list</a></li>

{% endblock %}

{% block top_menu %}
{% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

      {% endif %}
<li class="nav-item"><a class="nav-link" href="{% url 'notes:note-list' %}">Go To Notes</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'notes:topic-list' %}">Go To Topics</a></li>

{% endblock %}

